<div class="form">
    <h1>Porque nos interesa tu opinión...</h1>
    <div style="display: grid; grid-template-columns: 49% 49%; gap: 2%;">
        <div>
            <form>
                <div><h3>Comentarios</h3></div>
                <div>
                    <textarea name="textarea" rows="10" cols="50">Escribenos un comentario aquí.</textarea>
                </div>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary aceptar" data-toggle="modal" data-target="#exampleModal">Enviar</button>
                </div>
            </form>
        </div>
        <div>
            <form>
                <div><h3>Sugerencias</h3></div>
                <div>
                    <textarea name="textarea" rows="10" cols="50">Escribenos una sugerencia aquí.</textarea>
                </div>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary aceptar" data-toggle="modal" data-target="#exampleModal">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Pie de página -->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244806.82590595543!2d-68.12407749999998!3d-16.52071235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf0a04f5a40f%3A0x57dbfc76b4458ab3!2sLa%20Paz!5e0!3m2!1ses!2sbo!4v1660143040852!5m2!1ses!2sbo" width="400" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="box">
            <h2>UCB | RIDER</h2>
            <p>Otras sedes de UCB | RIDER</p>
            <p>Tailadia - España - Canadá - EE.UU - Alemania</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>UCB | RIDER</b> - Todos los derechos reservados</small>
    </div>
</footer>
