<h1 style="font-size: 30px; padding-bottom: 15px;">Catálogo de motocicletas</h1>
<h6>Encuentra la moto de tus sueños para darle el uso que prefieras<br>Ya sea para pasear recorriendo las calles de la cuidad o como medio de transporte en tu día a día.</h6>
<div id="catalogo">
    <!-- Lista de productos catálogo -->
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://www.moto1pro.com/sites/default/files/honda-wave-110-d_nq_np_783133-mla27212449835_042018-f.jpg" alt="Moto">
          <div class="card-body">
            <h5 class="card-title">Honda Wave 110 S</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Precio: 12000 bs.</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.moto1pro.com/sites/default/files/horse1.jpg" alt="Moto">
          <div class="card-body">
            <h5 class="card-title">Honda Wave 111 S</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Precio: 125000 bs.</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.moto1pro.com/sites/default/files/crux.jpeg" alt="Moto">
          <div class="card-body">
            <h5 class="card-title">Honda Wave 112 S</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Precio: 13000 bs.</small></p>
          </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="https://www.moto1pro.com/sites/default/files/lifan-scooter-1.jpg" alt="Moto">
            <div class="card-body">
            <h5 class="card-title">Honda Wave 113 S</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Precio: 13500 bs.</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.moto1pro.com/sites/default/files/boxer.jpeg" alt="Moto">
            <div class="card-body">
            <h5 class="card-title">Honda Wave 114 S</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Precio: 14000 bs.</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.moto1pro.com/sites/default/files/yamaha-fz16-moto-urbana-anatomia-dinamica.jpeg" alt="Moto">
            <div class="card-body">
            <h5 class="card-title">Honda Wave 115 S</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Precio: 14500 bs.</small></p>
            </div>
        </div>
    </div>
</div>
<div style="height: 40px;"></div>
<!-- Pie de página -->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244806.82590595543!2d-68.12407749999998!3d-16.52071235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf0a04f5a40f%3A0x57dbfc76b4458ab3!2sLa%20Paz!5e0!3m2!1ses!2sbo!4v1660143040852!5m2!1ses!2sbo" width="400" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="box">
            <h2>UCB | RIDER</h2>
            <p>Otras sedes de UCB | RIDER</p>
            <p>Tailadia - España - Canadá - EE.UU - Alemania</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>UCB | RIDER</b> - Todos los derechos reservados</small>
    </div>
</footer>