<!-- NOSOTROS -->
<div class="nosotros">
    <!-- Resumen de la ONG -->
    <div class="resumen">
        <div class="info">
            <h2>SOBRE NOSOTROS</h2>
            <h3>Encuentra la moto de tus sueños para darle el uso que prefieras.</h3>
            <h3>Ya sea para pasear recorriendo las calles de la cuidad o como medio de transporte en tu día a día.</h3>
        </div>
    </div>
    <!-- Informacion -->
    <div class="informacion">
        <table>
            <tr>
                <th><img src="https://cdni.iconscout.com/illustration/premium/thumb/business-strategy-5807473-4874282.png" alt="vision" width="400"></th>
                <th><img src="https://cdni.iconscout.com/illustration/premium/thumb/business-people-writing-content-5807459-4874268.png" alt="meta" width="400"></th>
                <th><img src="https://cdni.iconscout.com/illustration/premium/thumb/business-goal-5807487-4874296.png" alt="principios" width="400"></th>
            </tr>
            <tr>
                <th>Nuestra visión</th>
                <th>Nuestra meta</th>
                <th>Nuestros principios</th>
            </tr>
            <tr>
                <td>Un mundo sin niños en situación de calle, porque somos la primera generación que puede lograrlo.</td>
                <td>Salvar vidas erradicando la situación de calle a través de la prevención, detección y ayudando a los niños que lo sufren.</td>
                <td>Neutralidad, independencia, no discriminación, acceso libre y directo a los niños que lo necesiten, profesionalidad y transparencia</td>
            </tr>
        </table>
    </div>

    <!-- Frase -->
    <div class="frase">
        <div>
            <img src="https://psicotecnicosalcobendas.es/components/com_vikappointments/assets/media/certificado-psicotecnico-moto_2.png" alt="moto" width="250">
        </div>
        <div class="texto">
            Puedes comprar al contado o en mini cuotas con entregas gratuitas a domicilio.<br>
            ¡No pierdas la oportunidad de vivir la experiencia y busca la Moto ideal para ti!
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244806.82590595543!2d-68.12407749999998!3d-16.52071235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf0a04f5a40f%3A0x57dbfc76b4458ab3!2sLa%20Paz!5e0!3m2!1ses!2sbo!4v1660143040852!5m2!1ses!2sbo" width="400" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="box">
                <h2>UCB | RIDER</h2>
                <p>Otras sedes de UCB | RIDER</p>
                <p>Tailadia - España - Canadá - EE.UU - Alemania</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>UCB | RIDER</b> - Todos los derechos reservados</small>
        </div>
    </footer>
</div>
